<header class="header-area header-style-1 header-height-2">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.6/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.6/dist/sweetalert2.all.min.js"></script>


  <div class="header-top header-top-ptb-1 d-none d-lg-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3 col-lg-4">
          <div class="header-info">
            <ul>
              <li><i class="fi-rs-smartphone"></i> <a href="#">+91 9400067878</a></li>
              <li><i class="fi-rs-marker"></i><a href="page-contact.html">Our location</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-6 col-lg-4  ">
          <div class="text-center ">
            <div id="news-flash" class="d-inline-block p-1 ">
              <ul class="p-1 mb-1">
                <li>Get great products up to 50% off <a class="fw-bold ">Shop Now </a></li>
                <li>Supper Value Deals - Save more with coupons <a class="fw-bold">Shop Now</a> </li>
                <li>Trendy offers for Today, save up 35% off today <a class="fw-bold">Shop Now</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4">
          <div class="header-info header-info-right">
            <ul>
              <li>
                <a class="language-dropdown-active"> <i class="fi-rs-world"></i> English <i class="fi-rs-angle-small-down"></i></a>
                <ul class="language-dropdown">
                  <li><a><img src="/public/assets/imgs/theme/flag-fr.png" alt="">Français</a>
                  </li>
                  <li><a><img src="/public/assets/imgs/theme/flag-dt.png" alt="">Deutsch</a>
                  </li>
                  <li><a><img src="/public/assets/imgs/theme/flag-ru.png" alt="">Pусский</a>
                  </li>
                </ul>
              </li>
              <li><i class="fi-rs-user"></i><a href="/logout" class="logout_button">Log Out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
    <div class="container">
      <div class="header-wrap">
        <div class="logo logo-width-1 ">
          <a href="/user_home"><img src="/public/assets/Logo-diecastcarz.png" alt="logo"></a>
        </div>
        <div class="header-right">
          <div class="search-style-2 pr-130 ">
            <form action="/user_shop_page" method="GET">

              <input type="text" name="searchQuery" placeholder="Search for items...">
              <button type="submit" class=" pl-30 pr-30 border">Search</button>
            </form>
          </div>

          <%if (typeof user !=='undefined' && user ) { %>
          <div class="header-action-right  ">
            <div class="header-action-2">
              <div class="header-action-icon-2">
                <a href="user_wishlist">
                  <img class="svgInject" alt="Evara" src="/public/assets/imgs/theme/icons/icon-heart.svg">
                </a>

              </div>



              <div class="header-action-icon-2">
                <a class="mini-cart-icon" href="/user_cart">
                  <img alt="Evara" src="/public/assets/imgs/theme/icons/icon-cart.svg">
                  <span>
                    <% if (typeof cart==='undefined' || !cart || !cart.products ||cart.products.length===0) { %>
                    <span class="pro-count blue">0</span>
                    <% } else { %>
                    <span class="pro-count blue">
                      <%= cart.products.length %>
                    </span>
                    <% } %>
                  </span>
                </a>

                <% if (cart && cart.products && cart.products.length> 0) { %>
                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                  <ul>
                    <% cart.products.slice(0, 2).forEach((product, index)=> { %>
                    <li>
                      <div class="shopping-cart-img">
                        <a href="user_product_page?id=<%=  product.productId._id %>">
                          <img alt="Evara" src="/<%= product.productId.productImages[0] || 'placeholder.jpg' %>">
                        </a>
                      </div>
                      <div class="shopping-cart-title">
                        <h4>
                          <a href="user_product_page?id=<%= product.productId._id %>">
                            <%= product.productId.productName || 'Product Name'%>
                          </a>
                        </h4>
                        <h4>
                          <span>
                            <%= product.quantity %> ×
                          </span>
                          ₹<%= product.productId.salesPrice || 0 %>
                        </h4>
                      </div>
                    </li>
                    <% }) %>
                  </ul>

                  <div class="shopping-cart-footer fw-bold text-primary">
                    <a href="/user_cart">
                      <% if (cart.products.length> 2) { %>
                      +<%= cart.products.length - 2 %> more...
                      <% } %>
                    </a>
                  </div>

                  <div class="shopping-cart-footer">
                    <% let totalSum=0; %>
                    <% cart.products.forEach(product=> { %>
                    <% totalSum +=(product.productId.salesPrice || 0) *
                                                            product.quantity; %>
                    <% }) %>
                    <input type="hidden" name="priceChecking" value="<%= totalSum %>">

                    <div class="shopping-cart-total">
                      <h4>Total <span>₹<%= totalSum %></span></h4>
                    </div>
                    <div class="shopping-cart-button">
                      <a href="/user_cart" class="outline">View cart</a>
                      <a href="/user_checkout">Checkout</a>
                    </div>
                  </div>
                </div>
                <% } %>



              </div>


            </div>
          </div>
          <% } %>

        </div>
      </div>
    </div>
  </div>

  <div class="header-bottom header-bottom-bg-color sticky-bar">
    <div class="container">
      <div class="header-wrap header-space-between position-relative">
        <div class="logo logo-width-1 d-block d-lg-none">
          <a href="/user_home"><img src="/public/assets/Logo-diecastcarz.png" alt="logo"></a>
        </div>
        <div class="header-nav d-none d-lg-flex">


          <div class="main-categori-wrap d-none d-lg-block">
            <a class="categori-button-active" href="#">
              <span class="fi-rs-apps"></span> Browse Categories
            </a>
            <div class="categori-dropdown-wrap categori-dropdown-active-large " style="max-height: 400px; overflow-y: auto;  border: 1px solid #414448; border-radius: 5px; ">
              <ul>
                <% if (typeof categories !=='undefined' && categories && categories.length>0 ) { %>

                <% for (let i=0; i < 7; i++) { %>
                <li class="d-flex align-items-center">
                  <a href="/user_shop_page?categoryName=<%= categories[i].categoryName %>">
                    <img src="/<%= categories[i].categoryImages %>" alt="" class="ms-2" style="max-width: 30px; height: auto;">
                  </a>
                  <a href="/user_shop_page?categoryName=<%= categories[i].categoryName %>" class="d-block p-2 ">
                    <%= categories[i].categoryName %>
                  </a>

                </li>
                <% } %>

                <% } else { %>
                <li>No categories available</li>
                <% } %>
                <li>
                  <ul class="more_slide_open" style="display: none; ">
                    <% if (typeof categories !=='undefined' && categories && categories.length>0 ) { %>

                    <% for (let i=7; i < categories.length; i++) { %>
                    <li class="d-flex align-items-center">
                      <a href="/user_shop_page?categoryName=<%= categories[i].categoryName %>">
                        <img src="/<%= categories[i].categoryImages %>" alt="" class="ms-2" style="max-width: 30px; height: auto;">
                      </a>
                      <a href="/user_shop_page?categoryName=<%= categories[i].categoryName %>" class="d-block p-2 ">
                        <%= categories[i].categoryName %>
                      </a>
                    </li>
                    <% } %>
                    <% } else { %>
                    <li>No categories available</li>
                    <% } %>

                  </ul>
                </li>
              </ul>
              <div class="more_categories">Show more...</div>
            </div>
          </div>

        </div>
        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block d-flex justify-content-center ">
          <nav>
            <ul>
              <li><a href="user_home">Home</a></li>
              <li><a href="user_shop_page">Shop </a></li>
              <li><a href="user_account">My Account</a></li>

              <li> <a href="about_page">About Us</a></li>
              <li><a href="terms_page">Terms of Service</a></li>
              <li><a href="privacy_policy_page">Privacy Policy</a></li>
              <li><a href="contact_page">Contact</a></li>
            </ul>
          </nav>
        </div>


        <div class="hotline d-none d-lg-block">
          <p><i class="fi-rs-headset"></i><span>Hotline</span> 1800-425-1550 </p>
        </div>
        <p class="mobile-promotion"><span class="text-brand">Little car, </span>big personality.</p>

        
        <div class="header-action-right d-block d-lg-none">
          <div class="header-action-2">
            <%if (typeof user !=='undefined' && user ) { %>
            <div class="header-action-icon-2">
              <a href="user_wishlist">
                <img alt="Evara" src="/public/assets/imgs/theme/icons/icon-heart.svg">
              </a>
            </div>

            <div class="header-action-icon-2">
              <a class="mini-cart-icon" href="user_cart">
                <img alt="Evara" src="/public/assets/imgs/theme/icons/icon-cart.svg">
                <span>
                  <% if (typeof cart==='undefined' || !cart || !cart.products ||cart.products.length===0) { %>
                  <span class="pro-count white">0</span>
                  <% } else { %>
                  <span class="pro-count white">
                    <%= cart.products.length %>
                  </span>
                  <% } %>
                </span> </a>
             
            </div>
            <% } %>

            <div class="header-action-icon-2 d-block d-lg-none">
              <div class="burger-icon burger-icon-white">
                <span class="burger-icon-top"></span>
                <span class="burger-icon-mid"></span>
                <span class="burger-icon-bottom"></span>
              </div>
            </div>
          </div>
        </div>
        

      </div>
    </div>
  </div>
</header>
<div class="mobile-header-active mobile-header-wrapper-style">
  <div class="mobile-header-wrapper-inner">
    <div class="mobile-header-top">
      <div class="mobile-header-logo">
        <a href="/user_home"><img src="/public/assets/Logo-diecastcarz.png" alt="logo"></a>
      </div>
      <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
        <button class="close-style search-close">
          <i class="icon-top"></i>
          <i class="icon-bottom"></i>
        </button>
      </div>
    </div>
    <div class="mobile-header-content-area">
      <div class="mobile-search search-style-3 mobile-header-border">
        <form action="/user_shop_page" method="GET">
          <input type="text" name="searchQuery" placeholder="Search for items...">
          <button type="submit"><i class="fi-rs-search"></i></button>
        </form>
      </div>
      <div class="mobile-menu-wrap mobile-header-border">
        <div class="main-categori-wrap mobile-header-border">
          <a class="categori-button-active-2" href="#">
            <span class="fi-rs-apps"></span> Browse Categories
          </a>
          <div class="categori-dropdown-wrap categori-dropdown-active-small">

            <ul>
              <% if (typeof categories !=='undefined' && categories && categories.length>0 ) { %>

              <% for (let i=0; i < 7; i++) { %>
              <li class="d-flex align-items-center">
                <a href="/user_shop_page?categoryName=<%= categories[i].categoryName %>">
                  <img src="/<%= categories[i].categoryImages %>" alt="" class="ms-2" style="max-width: 30px; height: auto;">
                </a>
                <a href="/user_shop_page?categoryName=<%= categories[i].categoryName %>" class="d-block p-2 ">
                  <%= categories[i].categoryName %>
                </a>

              </li>
              <% } %>

              <% } else { %>
              <li>No categories available</li>
              <% } %>
              <li>
                <ul class="more_slide_open" style="display: none; ">
                  <% if (typeof categories !=='undefined' && categories && categories.length>0 ) { %>

                  <% for (let i=7; i < categories.length; i++) { %>
                  <li class="d-flex align-items-center">
                    <a href="/user_shop_page?categoryName=<%= categories[i].categoryName %>">
                      <img src="/<%= categories[i].categoryImages %>" alt="" class="ms-2" style="max-width: 30px; height: auto;">
                    </a>
                    <a href="/user_shop_page?categoryName=<%= categories[i].categoryName %>" class="d-block p-2 ">
                      <%= categories[i].categoryName %>
                    </a>
                  </li>
                  <% } %>
                  <% } else { %>
                  <li>No categories available</li>
                  <% } %>

                </ul>
              </li>
            </ul>
            <div class="more_categories">Show more...</div>

          </div>
        </div>
        <!-- mobile menu start -->
        <nav>
          <ul class="mobile-menu">
            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/user_home">Home</a>

            </li>
            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="user_shop_page">shop</a>

            </li>
            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="user_account">My Account</a>

            </li>

            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
              <ul class="dropdown">
                <li><a href="about_page">About Us</a></li>
                <li><a href="contact_page">Contact</a></li>

                <li><a href="privacy_policy_page">Privacy Policy</a></li>
                <li><a href="terms_page">Terms of Service</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
              <ul class="dropdown">
                <li><a href="#">English</a></li>
                <li><a href="#">French</a></li>
                <li><a href="#">German</a></li>
                <li><a href="#">Spanish</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- mobile menu end -->
      </div>
      <div class="mobile-header-info-wrap mobile-header-border">
        <div class="single-mobile-header-info mt-30">
          <a href="contact_page"> Our location </a>
        </div>
        <div class="single-mobile-header-info">
          <a href="/logout">Log Out </a>
        </div>
        <div class="single-mobile-header-info">
          <a href="#"> 1800-425-1550 </a>
        </div>
      </div>
      <div class="mobile-social-icon">
        <h5 class="mb-15 text-grey-4">Follow Us</h5>
        <a href="#"><img src="/public/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
        <a href="#"><img src="/public/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
        <a href="#"><img src="/public/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
        <a href="#"><img src="/public/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
        <a href="#"><img src="/public/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
      </div>
    </div>
  </div>
</div>

<script>
  const logoutLinks = document.querySelectorAll('.logout_button');

  logoutLinks.forEach(function(link) {
    link.addEventListener('click', function(event) {
      event.preventDefault();

      Swal.fire({
        title: 'Are you sure?',
        text: "You will be logged out!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, log me out!',
        cancelButtonText: 'No, keep me logged in!',
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {
          // If the user confirms, proceed with the logout
          window.location.href = this.href;
        }
      });
    });
  });
</script>