<%- include("../layouts/user_layouts/user_header.ejs") -%>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>




<%- include("../layouts/user_layouts/user_topnav.ejs") -%>



<main class="main">

  <section class="home-slider position-relative pt-50">
    <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">

      <div class="single-hero-slider single-animation-wrap">
        <div class="container py-5" style="height: auto; background-image: url('/public/assets/imgs/banner/bg2.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
          <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mb-90">
              <div class="hero-slider-content-2">
                <h4 class="animated">Hot promotions</h4>
                <h2 class="animated fw-900">Quality Trendings</h2>
                <h1 class="animated fw-900 text-7">Great Collection</h1>
                <p class="animated">Save more with exciting offers...</p>
                <a class="animated btn btn-brush btn-brush-2" href="user_shop_page">Discover Now </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="single-hero-slider single-animation-wrap">
        <div class="container py-5" style="height: auto; background-image: url('/public/assets/imgs/banner/bg3.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
          <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mb-75">
              <div class="hero-slider-content-2 text-white">
                <h4 class="animated text-uppercase fw-bold text-warning mb-3">Trade-in offer</h4>
                <h2 class="animated fw-bold display-4 text-light mb-2">Super value deals</h2>
                <h1 class="animated fw-bold text-warning mb-4">On all products</h1>
                <p class="animated text-light mb-4 lead">Save more with coupons & up to 70% off</p>
                <a class="animated btn btn-brush btn-brush-3" href="user_shop_page">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="single-hero-slider single-animation-wrap">
        <div class="container py-5" style="height: auto; background-image: url('/public/assets/imgs/banner/bg18.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
          <div class="row align-items-center">
            <div class=" mb-90">
              <div class="hero-slider-content-2 text-white">
                <h4 class="animated text-uppercase fw-bold text-warning mb-3">Upcoming Offer</h4>
                <h2 class="animated fw-bold display-4 text-light mb-2"> Big Deals On</h2>
                <h1 class="animated fw-bold text-warning mb-2"> Selected Brands</h1>
                <p class="animated text-light mb-4 lead">Save more with coupons...</p>
                <a class="animated btn fw-bold " href="user_shop_page">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="slider-arrow hero-slider-1-arrow"></div>
  </section>


  <section class="featured section-padding position-relative">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/public/assets/imgs/theme/icons/feature-1.png" alt="">
            <h4 class="bg-1">Free Shipping</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/public/assets/imgs/theme/icons/feature-2.png" alt="">
            <h4 class="bg-3">Online Order</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/public/assets/imgs/theme/icons/feature-3.png" alt="">
            <h4 class="bg-2">Save Money</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/public/assets/imgs/theme/icons/feature-4.png" alt="">
            <h4 class="bg-4">Promotions</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/public/assets/imgs/theme/icons/feature-5.png" alt="">
            <h4 class="bg-5">Happy Sell</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="/public/assets/imgs/theme/icons/feature-6.png" alt="">
            <h4 class="bg-6">24/7 Support</h4>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="product-tabs section-padding position-relative wow fadeIn animated">
    <div class="bg-square"></div>
    <div class="container">
      <div class="tab-header">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
          </li>


        </ul>
        <a href="user_shop_page" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
      </div>
      <!--End nav-tabs-->
      <div class="tab-content wow fadeIn animated" id="myTabContent">

        <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
          <div class="row product-grid-4">

            <% if (products.length> 0) {
                                    for (let i = 0; i < 8; i++) { %>

            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
              <div class="product-cart-wrap mb-30" style="height: 95%;">
                <div class="product-img-action-wrap" style="height: 55%;  display: flex; align-items: center; justify-content: center; object-fit: contain; ">
                  <div class="product-img product-img-zoom">

                    <% if (products[i].productImages &&
                                                            products[i].productImages.length> 0) { %>

                    <a href="user_product_page?id=<%= products[i]._id %>">
                      <img class="default-img" src="/<%= products[i].productImages[0] %>" alt="">
                      <img class="hover-img" src="/<%= products[i].productImages[1] %>" alt="">
                    </a>
                    <% } else { %>
                    No Image
                    <% } %>
                  </div>

                  <div class="product-badges product-badges-position product-badges-mrg">
                    <span class="hot">Hot</span>
                  </div>
                </div>
                <div class="product-content-wrap" style="height: 45%;">
                  <div class="product-category">
                    <a href="/user_shop_page?categoryName=<%= products[i].category %>">
                      <%= products[i].category %>
                    </a>
                  </div>
                  <h2><a href="user_product_page?id=<%= products[i]._id %>">
                      <%= products[i].productName %>
                    </a></h2>
                  <div class="rating-result" title="90%">
                    <% if(products[i].isProductOfferActive && products[i].productOfferPercentage>0){ %>
                    <span>
                      <span><%= products[i].productOfferPercentage %>% Off</span>
                    </span>
                    <% } %>
                  </div>
                  <div class="product-price">
                    <span>₹<%= products[i].salesPrice %> </span>
                    <span class="old-price">₹<%= products[i].regularPrice %></span>
                  </div>
                  <div class="product-action-1 show">
                    <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%= products[i]._id %>','<%= products[i].productName %>' )" href="#"><i class="fi-rs-heart"></i></a>
                    <a aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%= products[i]._id %>','<%= products[i].productName %>' ); changeIcon(this)" href="#"><i class="fi-rs-shopping-bag-add"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <% } } else { %>
            <tr>
              <td colspan="5">Products data not found</td>
            </tr>
            <% } %>



          </div>
          <!--End product-grid-4-->
        </div>
        <!--En tab one (Featured)-->


        <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
          <div class="row product-grid-4">


            <% if (topSellingProducts.length> 0) {
                                    for (let i = 0; i < 8; i++) { %>

            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
              <div class="product-cart-wrap mb-30">
                <div class="product-img-action-wrap">
                  <div class="product-img product-img-zoom">
                    <% if (topSellingProducts[i].productDetails[0].productImages &&
                    topSellingProducts[i].productDetails[0].productImages.length> 0) { %>

                    <a href="user_product_page?id=<%= topSellingProducts[i]._id %>">
                      <img class="default-img" src="/<%= topSellingProducts[i].productDetails[0].productImages[0] %>" alt="">
                      <img class="hover-img" src="/<%= topSellingProducts[i].productDetails[0].productImages[1] %>" alt="">
                    </a>
                    <% } else { %>
                    No Image
                    <% } %>
                  </div>

                  <div class="product-badges product-badges-position product-badges-mrg">
                    <span class="hot">Popular</span>
                  </div>
                </div>
                <div class="product-content-wrap">
                  <div class="product-category">
                    <a href="/user_shop_page?categoryName=<%= topSellingProducts[i].productDetails[0].category %>">
                      <%= topSellingProducts[i].productDetails[0].category %>
                    </a>
                  </div>
                  <h2><a href="user_product_page?id=<%= topSellingProducts[i]._id %>">
                      <%= topSellingProducts[i].productName %>
                    </a></h2>
                  <div class="rating-result" title="90%">
                    <% if(topSellingProducts[i].productDetails[0].isProductOfferActive && topSellingProducts[i].productDetails[0].productOfferPercentage>0){ %>
                    <span>
                      <span><%= topSellingProducts[i].productDetails[0].productOfferPercentage %>% Off</span>
                    </span>
                    <% } %>
                  </div>
                  <div class="product-price">
                    <span>₹<%=topSellingProducts[i].productDetails[0].salesPrice %> </span>
                    <span class="old-price">₹<%= topSellingProducts[i].productDetails[0].regularPrice %></span>
                  </div>
                  <div class="product-action-1 show">
                    <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%= topSellingProducts[i]._id %>','<%= topSellingProducts[i].productName %>' )" href="#"><i class="fi-rs-heart"></i></a>
                    <a aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%= topSellingProducts[i]._id %>','<%= topSellingProducts[i].productName %>' ); changeIcon(this)" href="#"><i class="fi-rs-shopping-bag-add"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <% } } else { %>
            <tr>
              <td colspan="5">Products data not found</td>
            </tr>
            <% } %>


          </div>
          <!--End product-grid-4-->
        </div>
        <!--En tab two (Popular)-->



        <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
          <div class="row product-grid-4">
            <% if (products.length> 0) {
                                    products.sort((a, b) => (b._id > a._id ? 1 : -1));

                                    for (let i = 0; i < 8; i++) { %>

            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
              <div class="product-cart-wrap mb-30" style="height: 95%;">
                <div class="product-img-action-wrap" style="height: 55%;  display: flex; align-items: center; justify-content: center; object-fit: contain; ">
                  <div class="product-img product-img-zoom">

                    <% if (products[i].productImages &&
                                                            products[i].productImages.length> 0) { %>

                    <a href="user_product_page?id=<%= products[i]._id %>">

                      <img class="default-img" src="/<%= products[i].productImages[0] %>" alt="">

                      <img class="hover-img" src="/<%= products[i].productImages[1] %>" alt="">
                    </a>
                    <% } else { %>
                    No Image
                    <% } %>
                  </div>

                  <div class="product-badges product-badges-position product-badges-mrg">
                    <span class="hot">New</span>
                  </div>
                </div>
                <div class="product-content-wrap" style="height: 45%;">
                  <div class="product-category">
                    <a href="/user_shop_page?categoryName=<%= products[i].category %>">
                      <%= products[i].category %>
                    </a>
                  </div>
                  <h2><a href="user_product_page?id=<%= products[i]._id %>">
                      <%= products[i].productName %>
                    </a></h2>
                  <div class="rating-result" title="90%">
                    <% if(products[i].isProductOfferActive && products[i].productOfferPercentage>0){ %>

                    <span><%= products[i].productOfferPercentage %>% Off</span>

                    <% } %>
                  </div>
                  <div class="product-price">
                    <span>₹<%= products[i].salesPrice %> </span>
                    <span class="old-price">₹<%= products[i].regularPrice %></span>
                  </div>
                  <div class="product-action-1 show">
                    <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%= products[i]._id %>','<%= products[i].productName %>' )" href="#"><i class="fi-rs-heart"></i></a>
                    <a aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%= products[i]._id %>','<%= products[i].productName %>' ); changeIcon(this)" href="#"><i class="fi-rs-shopping-bag-add"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <% } } else { %>
            <tr>
              <td colspan="5">Products data not found</td>
            </tr>
            <% } %>
          </div>
          <!--End product-grid-4-->
        </div>
        <!--En tab three (New added)-->
      </div>
      <!--End tab-content-->
    </div>
  </section>

  <section class="banner-2 section-padding pb-0">
    <div class="container">
      <div class="banner-img banner-big wow fadeIn animated f-none">
        <img src="/public/assets/imgs/banner/bg21.png" alt="bg21">
        <div class="banner-text d-md-block d-none">
          <h4 class="mb-15 mt-40 text-brand">Quality Services</h4>
          <h2 class="fw-600">“Making Exceptional Cars Even Better”</h2>
          <br>
          <h5 class="text-end me-0">– Automotive Customisation</h5>

          <a href="user_shop_page.ejs" class="btn">Shop Now <i class="fi-rs-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </section>





  <section class="popular-categories section-padding mt-15 mb-25">
    <div class="container wow fadeIn animated">
      <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
      <div class="carausel-6-columns-cover position-relative">
        <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
        <div class="carausel-6-columns text-center" id="carausel-6-columns">

          <% if (topSellingCategories && typeof topSellingCategories !=='undefined' && topSellingCategories.length>0 ) { %>
          <% for (let i=0; i < 8; i++) { %>

          <div class="card-1">
            <figure class="img-hover-scale overflow-hidden">
              <a href="/user_shop_page?categoryName=<%= topSellingCategories[i]._id %>">
                <!-- Using Bootstrap's d-block and mx-auto for centering the image -->
                <img src="/<%= topSellingCategories[i].categoryImage %>" alt="" class="img-fluid d-block mx-auto" style="max-height: 80%; max-width: 80%;">
              </a>
            </figure>
            <h5>
              <a href="/user_shop_page?categoryName=<%= topSellingCategories[i]._id %>">
                <%= topSellingCategories[i]._id %>
              </a>
            </h5>

            <% if(topSellingCategories[i].isCategoryOfferActive) { %>
            <h5 class="text-white bg-danger p-2 rounded text-center">
              <strong>
                <%= topSellingCategories[i].categoryOfferPercentage %>% Off Now!
              </strong>
            </h5>
            <% } %>
          </div>
          <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </section>





  <section class="banners mb-15">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="banner-img wow fadeIn animated" style="background-image: url('/public/assets/imgs/banner/bg24.png'); background-size: cover; background-position: center; padding-top: 50%; width: 100%;">
            <div class="banner-text">
              <span>Sale off</span>
              <h4>Great Summer <br>Collection</h4>
              <a href="user_shop_page">Shop Now <i class="fi-rs-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="banner-img wow fadeIn animated" style="background-image: url('/public/assets/imgs/banner/bg25.png'); background-size: cover; background-position: center; padding-top: 50%; width: 100%;">
            <div class="banner-text">
              <span>Sale off</span>
              <h4>Great Summer <br>Collection</h4>
              <a href="user_shop_page">Shop Now <i class="fi-rs-arrow-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-md-none d-lg-flex">
          <div class="banner-img wow fadeIn animated" style="background-image: url('/public/assets/imgs/banner/bg26.png'); background-size: cover; background-position: center; padding-top: 50%; width: 100%;">
            <div class="banner-text">
              <span>New Arrivals</span>
              <h4>Shop Today’s <br>Deals & Offers</h4>
              <a href="user_shop_page">Shop Now <i class="fi-rs-arrow-right"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section class="section-padding">
    <div class="container wow fadeIn animated">
      <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
      <div class="carausel-6-columns-cover position-relative">
        <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
        <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">

          <% if (products.length> 0) {
                     products.sort((a, b) => (b._id > a._id ? 1 : -1));
                      for (let i = 0; i < 10; i++) { %>
          <div class="product-cart-wrap small hover-up">
            <div class="product-img-action-wrap ">
              <div class="product-img product-img-zoom">

                <% if (products[i].productImages && products[i].productImages.length> 0) { %>
                <a href="user_product_page?id=<%= products[i]._id %>">
                  <img class="default-img" src="/<%= products[i].productImages[0] %>" alt="">
                  <img class="hover-img" src="/<%= products[i].productImages[1] %>" alt="">
                </a>
                <% } else { %>
                No Image
                <% } %>

              </div>
              <div class="product-action-1">
                <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%= products[i]._id %>','<%= products[i].productName %>' )" href="#"><i class="fi-rs-heart"></i></a>
                <a aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%= products[i]._id %>','<%= products[i].productName %>' ); changeIcon(this)" href="#"><i class="fi-rs-shopping-bag-add"></i></a>

              </div>
              <div class="product-badges product-badges-position product-badges-mrg">
                <span class="hot">New</span>
              </div>
            </div>
            <div class="product-content-wrap">

              <div style="min-height: 100%">
                <a href="user_product_page?id=<%= products[i]._id %>" style="color: black;">
                  <%= products[i].productName %>
                </a>
                <br>
                <a href="/user_shop_page?categoryName=<%= products[i].category %>">
                  <%= products[i].category %>
                </a>
              </div>

              <div class="product-price">
                <span>₹<%= products[i].salesPrice %></span>
                <span class="old-price">₹<%= products[i].regularPrice %></span>
              </div>
            </div>
          </div>

          <% } } else { %>
          <tr>
            <td colspan="5">Products data not found</td>
          </tr>
          <% } %>

        </div>
      </div>
    </div>
  </section>

  <section class="deals section-padding">
    <div class="container">
      <div class="row">
        <!-- First image container -->
        <div class="col-lg-6 col-12  pt-5">
          <div style="background-image: url('/public/assets/imgs/banner/bg23.webp'); background-size: cover; background-position: center; padding-top: 56.25%;"></div>
        </div>
        <!-- Second image container -->
        <div class="col-lg-6 col-12 pt-5">
          <div style="background-image: url('/public/assets/imgs/banner/bg1.jpg'); background-size: cover; background-position: center; padding-top: 56.25%;"></div>
        </div>
      </div>
    </div>
  </section>





  <section class="section-padding">
    <div class="container">
      <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
      <div class="carausel-6-columns-cover position-relative">
        <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows"></div>
        <div class="carausel-6-columns text-center" id="carausel-6-columns-3">

          <% if (categories && typeof categories !=='undefined' ) { %>
          <% for (let i=0; i < categories.length; i++) { %>

          <div class="brand-logo">

            <figure class="img-hover-scale overflow-hidden">
              <a href="/user_shop_page?categoryName=<%= categories[i].categoryName %>">
                <img src="/<%= categories[i].categoryImages %>" alt="" style="height: 50%;width: 50%;"> </a>
            </figure>

            <h5 class="pb-2"> <a href="/user_shop_page?categoryName=<%= categories[i].categoryName %>">
                <%= categories[i].categoryName %>
              </a> </h5>

            <% if(categories[i].isCategoryOfferActive) { %>
            <span class="text-white p-1  bg-danger rounded text-center">
              <strong>
                <%= categories[i].categoryOfferPercentage %>% Off Now!
              </strong>
            </span>
            <% } %>
          </div>

          <% } %>
          <% } %>

        </div>
      </div>
    </div>
  </section>


  <section class="bg-grey-9 section-padding">
    <div class="container pt-25 pb-25">
      <div class="heading-tab d-flex">
        <div class="heading-tab-left wow fadeIn animated">
          <h3 class="section-title mb-20"><span>Our</span> Best Sell</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="carausel-4-columns-cover arrow-center position-relative">
            <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow" id="carausel-4-columns-arrows"></div>
            <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns">


              <% if (topSellingProducts.length> 0) {
                for (let i = 0; i < 8; i++) { %>
              <div class="product-cart-wrap">
                <div class="product-img-action-wrap">
                  <div class="product-img product-img-zoom">

                    <% if (topSellingProducts[i].productDetails[0].productImages &&
                    topSellingProducts[i].productDetails[0].productImages.length> 0) { %>
                    <a href="user_product_page?id=<%= topSellingProducts[i]._id %>">
                      <img class="default-img" src="/<%= topSellingProducts[i].productDetails[0].productImages[0] %>" alt="">
                      <img class="hover-img" src="/<%= topSellingProducts[i].productDetails[0].productImages[1] %>" alt="">
                    </a>

                    <% } else { %>
                    No Image
                    <% } %>
                  </div>

                  <div class="product-badges product-badges-position product-badges-mrg">
                    <span class="hot">Hot</span>
                  </div>
                </div>
                <div class="product-content-wrap">

                  <div class="product-category">
                    <a href="/user_shop_page?categoryName=<%= topSellingProducts[i].productDetails[0].category %>">
                      <%= topSellingProducts[i].productDetails[0].category %>
                    </a>
                  </div>

                  <h2><a href="user_product_page?id=<%= topSellingProducts[i]._id %>" class="clamp-2">
                      <%= topSellingProducts[i].productName %></a></h2>

                  <div class="rating-result" title="90%">
                    <% if(topSellingProducts[i].productDetails[0].isProductOfferActive && topSellingProducts[i].productDetails[0].productOfferPercentage>0){ %>
                    <span>
                      <span><%= topSellingProducts[i].productDetails[0].productOfferPercentage %>% Off</span>
                    </span>
                    <% } %>
                  </div>

                  <div class="product-price">
                    <span>₹<%=topSellingProducts[i].productDetails[0].salesPrice %> </span>
                    <span class="old-price">₹<%= topSellingProducts[i].productDetails[0].regularPrice %></span>
                  </div>

                  <div class="product-action-1 show">
                    <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%= topSellingProducts[i]._id %>','<%= topSellingProducts[i].productName %>' )" href="#"><i class="fi-rs-heart"></i></a>
                    <a aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%= topSellingProducts[i]._id %>','<%= topSellingProducts[i].productName %>' ); changeIcon(this)" href="#"><i class="fi-rs-shopping-bag-add"></i></a>
                  </div>
                </div>
              </div>
              <% } }  else { %>
              <tr>
                <td colspan="5">Products data not found</td>
              </tr>
              <% } %>




            </div>
          </div>
          <!--End tab-pane-->
        </div>
        <!--End Col-lg-9-->
      </div>
    </div>
  </section>


  <section class="mb-50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="banner-bg wow fadeIn animated" style="background-image: url('/public/assets/imgs/banner/bg20.jpg')">
            <div class="banner-content">
              <h4 class="text-success fw-bold mb-15" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8), -2px -2px 5px rgba(0, 0, 0, 0.8);">
                “Big Dreams, Small Cars”
              </h4>

              <h2 class="fw-600 text-white" style="text-shadow: 2px 2px 6px rgba(0, 0, 0, 1), -2px -2px 6px rgba(0, 0, 0, 1);">
                <span class="text-brand">Shop With Deals.</span>Big Sale Up to 40%
              </h2>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-45">
    <div class="container">
      <div class="row">


        <div class="col-lg-6 col-md-6 mb-sm-5 mb-md-0">
          <h4 class="section-title style-1 mb-30 wow fadeIn animated">Deals & Outlet</h4>
          <div class="row">

            <% if (dealProducts.length> 0) {
              
              for (let i = 0; i < 4 ; i++) {
                if(dealProducts[i].isProductOfferActive){ %>
            <div class="col-md-6 mb-10 ">
              <article class="row align-items-center">
                <figure class="col-4 mb-0">
                  <% if (dealProducts[i].productImages && dealProducts[i].productImages.length> 0) { %>
                  <a href="user_product_page?id=<%= dealProducts[i]._id %>">
                    <img class="default-img" src="/<%= dealProducts[i].productImages[0] %>" alt="">
                  </a>
                  <% } else { %>
                  No Image
                  <% } %>
                </figure>
                <div class="col-8 mb-0">
                  <span class="title-small" style="max-width: 100%;">
                    <a href="user_product_page?id=<%= dealProducts[i]._id %>" class="clamp-2" style="max-width: 100%;">
                      <%= dealProducts[i].productName %></a>
                  </span>

                  <div>
                    <span class="sales-price text-bold me-2 fw-bold">₹<%= dealProducts[i].salesPrice %></span>
                  </div>

                  <div>
                    <span class="old-price text-muted text-decoration-line-through">₹<%= dealProducts[i].regularPrice %></span>

                    <% if(dealProducts[i].isProductOfferActive && dealProducts[i].productOfferPercentage>0){ %>
                    <span class="offer-badge text-small text-danger"><%= dealProducts[i].productOfferPercentage %>% Off</span>
                    <% } %>
                  </div>

                </div>
              </article>
            </div>


            <%  }}} else { %>
            <tr>
              <td colspan="5">Products data not found</td>
            </tr>
            <% } %>

          </div>
        </div>


        <div class="col-lg-6 col-md-6 mb-sm-5 mb-md-0">
          <h4 class="section-title style-1 mb-30 wow fadeIn animated">Our Special Ones...</h4>
          <div class="row">


            <% if (products.length> 0) {
              
              for (let i = 0; i < products.length; i++) {
                if(products[i].category==='Others'){ %>

            <div class="col-md-6 mb-10">
              <div class="row align-items-center">
                <figure class="col-4 mb-0">
                  <% if (products[i].productImages && products[i].productImages.length> 0) { %>
                  <a href="user_product_page?id=<%= products[i]._id %>">
                    <img class="default-img" src="/<%= products[i].productImages[0] %>" alt="">
                  </a>
                  <% } else { %>
                  No Image
                  <% } %>
                </figure>
                <div class="col-8 mb-0">
                  <span class="title-small" style="max-width: 100%;">
                    <a href="user_product_page?id=<%= products[i]._id %>" class="clamp-2" style="max-width: 100%;">
                      <%= products[i].productName %></a>
                  </span>
                  <div>
                    <span class="sales-price text-bold me-2 fw-bold">₹<%= products[i].salesPrice %></span>
                  </div>

                  <div>
                    <span class="old-price text-muted text-decoration-line-through">₹<%= products[i].regularPrice %></span>

                    <% if(products[i].isProductOfferActive && products[i].productOfferPercentage>0){ %>
                    <span class="offer-badge text-small text-danger"><%= products[i].productOfferPercentage %>% Off</span>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>

            <%  }}} else { %>
            <tr>
              <td colspan="5">Products data not found</td>
            </tr>
            <% } %>


          </div>
        </div>


      </div>
    </div>

    <style>
      .clamp-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    </style>

  </section>


  <section class="quote-section mt-5 pt-4 pb-4" style="background-color: #f8f9fa; text-align: center;">
    <div class="container">
      <blockquote class="mb-3" style="font-size: 1.5rem; font-weight: bold; color: #333; font-style: italic;">
        "Every car tells a story."
      </blockquote>
      <blockquote class="mb-3" style="font-size: 1.5rem; font-weight: bold; color: #333; font-style: italic;">
        "Let your collection drive your imagination."
      </blockquote>
    </div>
  </section>





</main>



<%- include("../layouts/user_layouts/user_footer.ejs") -%>


<script>
  async function addToCart(productId, productName) {
    try {

      const response = await fetch(`/user_cart?productId=${productId}&qty=1`, {
        method: 'POST'
      });

      if (!response.ok) {
        console.error(`Failed to add product: ${productName}. Status: ${response.status}`);
        addToCartErrorNotification(productName, "is OUT OF STOCK.");
        throw new Error("Error adding product to cart");
      }

      const data = await response.json();

      if (data.success) {
        addToCartNotification(productName, `is added to cart (Quantity: 1)`);

      } else {      
          addToCartErrorNotification(productName, "could not be added to the cart.");      
        console.warn(`Add to cart failed for ${productName}: ${data.message}`);
      }

    } catch (error) {
      console.error("Error adding product to cart", error);
    }
  }
  
  function addToCartErrorNotification(productName, action) {
    Toastify({
      text: `"${productName}"   ${action}`,
      duration: 1800,
      backgroundColor: "#FF0000",
      position: 'right',
    }).showToast();

  }

  function addToCartNotification(productName, action) {
    Toastify({
      text: `"${productName}"   ${action}`,
      duration: 1500,
      backgroundColor: "#289743",
      position: 'right',
    }).showToast();

  }
  

  async function addToWishlist(productId, productName) {
    try {

      const response = await fetch(`/user_wishlist?productId=${productId}`, {
        method: 'POST'
      });

      if (!response.ok) {
        throw new Error("Error adding product to wishlist");
      }

      const data = await response.json();

      if (data.success) {
        addToWishlistNotification(productName, `is added to wishlist`);
      } else {
        console.error("Error adding product to wishlist", data.message);
      }
    } catch (error) {
      console.error("Error adding product to wishlist", error);
    }
  }

  function addToWishlistNotification(productName, action) {
    Toastify({
      text: `"${productName}"   ${action}`,
      duration: 2000,
      backgroundColor: "#0000FF",
      position: 'right',
    }).showToast();

  }

  function changeIcon(element) {
    const icon = element.querySelector("i"); // Select the <i> icon inside the <a> element

    // Toggle or replace the icon's class to indicate 'added to cart'
    icon.classList.remove("fi-rs-shopping-bag-add"); // Remove the original icon class
    icon.classList.add("fi-rs-check"); // Add a new icon class for the 'added' state

    // Optionally, disable further clicks or add a tooltip
    element.style.pointerEvents = "none";
    element.title = "Added to cart";
  }
</script>