<%- include("../layouts/user_layouts/user_header.ejs") -%>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<%- include("../layouts/user_layouts/user_topnav.ejs") -%>




<main class="main">

  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="product-detail accordion-detail">
            <div class="row mb-50">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="detail-gallery">
                  <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                  <!-- MAIN SLIDES -->
                  <div class="product-image-slider">

                    <% if (products.productImages && products.productImages.length> 0) { %>
                    <% products.productImages.forEach(image=> { %>
                    <figure class="border-radius-10">
                      <img src="/<%= image %> " alt="product image" style=" object-fit: contain; ">
                    </figure>
                    <% }) %>
                    <% } else { %>
                    No Image
                    <% } %>



                  </div>
                  <!-- THUMBNAILS -->
                  <div class="slider-nav-thumbnails pl-15 pr-15">

                    <% if (products.productImages && products.productImages.length> 0) { %>
                    <% products.productImages.forEach(image=> { %>
                    <div><img src="/<%= image %>" alt="product image" style=" object-fit: contain; ">
                    </div>
                    <% }) %>
                    <% } else { %>
                    No Image
                    <% } %>


                  </div>
                </div>
                <!-- End Gallery -->
              </div>



              <!-- ------ SCRIPT - Quantity,Cart,Wishlist ------- -->

              <script>
                let min = 1;
                let max = 10;

                const products = <%- JSON.stringify(products) %>;
                let stock = products.quantity

                function validateQuantity() {
                  const qtyInput = document.getElementById('quantityToUpdate');
                  const errorMessage = document.getElementById('quantityErrorMessage');
                  const value = parseInt(qtyInput.value, 10);

                  if (value > stock) {
                    errorMessage.textContent = `Required quantity exceeds stock quantity ! `;
                    return false
                  } else if (value < min || value > max) {
                    errorMessage.textContent = `Please enter a value between ${min} and ${max}.`;
                    return false
                  } else {
                    errorMessage.textContent = '';
                    return true
                  }
                }

                function decreaseQty(event) {
                  event.preventDefault();
                  const qtyInput = document.getElementById('quantityToUpdate');
                  let currentValue = parseInt(qtyInput.value, 10);

                  if (currentValue > min) {
                    qtyInput.value = currentValue - 1;
                    validateQuantity();

                  } else {
                    document.getElementById('quantityErrorMessage').textContent = `Minimum quantity is ${min}`;
                  }
                }

                function increaseQty(event) {
                  event.preventDefault();
                  const qtyInput = document.getElementById('quantityToUpdate');
                  let currentValue = parseInt(qtyInput.value, 10);

                  if (currentValue < max) {
                    qtyInput.value = currentValue + 1;
                    validateQuantity();

                  } else {
                    document.getElementById('quantityErrorMessage').textContent = `Maximum quantity is ${max}`;
                  }
                }



                async function addToCart(productId, productName) {
                  try {

                    if (!validateQuantity()) {
                      return; // Do not proceed if quantity is invalid
                    }

                    var quantity = document.getElementById('quantityToUpdate').value;
                    const response = await fetch(`/user_cart?productId=${productId}&qty=${quantity}`, {
                      method: 'POST'
                    });

                    if (!response.ok) {
                      console.error(`Failed to add product: ${productName}. Status: ${response.status}`);
                      addToCartErrorNotification(productName, "is OUT OF STOCK.");
                      throw new Error("Error adding product to cart");
                    }

                    const data = await response.json();

                    if (data.success) {
                      addToCartNotification(productName, `is added to cart (Quantity: ${quantity})`);
                    } else {
                      console.error("Error adding product to cart", data.message);
                    }
                  } catch (error) {
                    console.error("Error adding product to cart", error);
                  }
                }

                function addToCartErrorNotification(productName, action) {
                  Toastify({
                    text: `"${productName}"   ${action}`,
                    duration: 1800,
                    backgroundColor: "#FF0000",
                    position: 'right',
                  }).showToast();

                }

                function addToCartNotification(productName, action) {
                  Toastify({
                    text: `"${productName}"   ${action}`,
                    duration: 2000,
                    backgroundColor: "#289743",
                    position: 'right',
                  }).showToast();

                }

                async function addToWishlist(productId, productName) {
                  try {

                    const response = await fetch(`/user_wishlist?productId=${productId}`, {
                      method: 'POST'
                    });

                    if (!response.ok) {
                      throw new Error("Error adding product to wishlist");
                    }

                    const data = await response.json();

                    if (data.success) {
                      addToWishlistNotification(productName, `is added to wishlist`);
                    } else {
                      console.error("Error adding product to wishlist", data.message);
                    }
                  } catch (error) {
                    console.error("Error adding product to wishlist", error);
                  }
                }

                function addToWishlistNotification(productName, action) {
                  Toastify({
                    text: `"${productName}"   ${action}`,
                    duration: 2000,
                    backgroundColor: "#0000FF",
                    position: 'right',
                  }).showToast();

                }

                function changeButtonText(click) {
                  click.innerText = 'Added to cart';
                  click.style.fontSize = '20px';
                  click.style.color = 'yellow';
                }
              </script>

              <!-- ^^^^^^^ SCRIPT - Quantity,Cart,Wishlist ^^^^^^^ -->


              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="detail-info">
                  <h2 class="title-detail">
                    <%= products.productName %>
                  </h2>
                  <div class="product-detail-rating">
                    <div class="pro-details-brand">
                      <span> Brands: <a href="/user_shop_page?categoryName=<%= products.category %>">
                          <%= products.category %>
                        </a></span>
                    </div>
                    <div class="product-rate-cover text-end">
                      <div class="product-rate d-inline-block">
                        <div class="product-rating" style="width:90%">
                        </div>
                      </div>
                      <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                    </div>
                  </div>
                  <div class="clearfix product-price-cover">
                    <div class="product-price primary-color float-left">
                      <ins><span class="text-brand">
                          ₹<%= products.salesPrice %>
                        </span></ins>
                      <ins><span class="old-price font-md ml-15">
                          ₹<%= products.regularPrice %>
                        </span></ins>

                      <% if(products.isProductOfferActive===true && products.productOfferPercentage>0){ %>
                      <span class="save-price  font-md color3 ml-15"><%= products.productOfferPercentage %>% Off</span>
                      <% } %>

                    </div>
                  </div>
                  <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                  <div class="short-desc mb-30">

                    <p>
                      <%= products.description.split('.').slice(0, 1).join('.') + '.' %>
                    </p>


                  </div>
                  <div class="product_sort_info font-xs mb-30">
                    <ul>
                      <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year
                        Brand Warranty</li>
                      <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 15 Day Return
                        Policy</li>
                      <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery
                        available</li>
                    </ul>
                  </div>

                  <div class="bt-1 border-color-1 mt-30 mb-30"></div>

                  <div class="detail-extralink" style="display: flex; flex-direction: column; gap: 1rem;">

                    <div class="quantity-container" style="display: flex; align-items: center;">

                      <label for="qty" style="margin-right: 10px;">Quantity:</label>

                      <a href="#" class="qty-down btn btn-outline-primary" onclick="decreaseQty(event)" style="padding: 7px; border-radius: 4px 0 0 4px;">
                        <i>-</i>
                      </a>

                      <input type="number" name="qty" id="quantityToUpdate" style="padding: 5px; width: 8%; height:auto;  text-align: center; border: 1px solid #ced4da; border-radius: 0;" min="1" max="10" value="1" step="1" title="Quantity:" class="input-text qty" oninput="validateQuantity()">

                      <a href="#" class="qty-up btn btn-outline-primary" onclick="increaseQty(event)" style="padding: 7px; border-radius: 0 4px 4px 0;">
                        <i>+</i>
                      </a>

                      <label id="quantityErrorMessage" style="color: red; font-size: 14px; margin-left: 10px; white-space: nowrap;"></label>
                    </div>


                    <div class="product-extra-link2 d-flex align-items-center ">

                      <a href="#" style="width: auto" onclick="addToCart('<%= products._id %>','<%= products.productName %>' )">
                        <button type="submit" class="button button-add-to-cart  d-flex align-items-center" style="height: 40px; font-size: 18px " onclick="changeButtonText(this)">Add to
                          cart</button>
                      </a>

                      <a href="#" aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%= products._id %>','<%= products.productName %>' )">
                        <i class="fi-rs-heart"></i>
                      </a>

                      <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>

                    </div>


                  </div>



                  <ul class="product-meta font-xs color-grey mt-50">
                    <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>

                    <li>Availability:
                      <% if (products.quantity> 0) { %>
                      <span class="in-stock text-success ml-5">
                        <%= products.quantity %> Items In Stock
                      </span>
                      <% }else{ %>
                      <span style="font-size: large; color: red;">
                        Out of Stock !
                      </span>
                      <% } %>
                    </li>

                    <% let productCategory = categories.find(function(category) {
                      return category.categoryName === products.category;
                    })  %>
                    <%  if (productCategory && productCategory.isCategoryOfferActive) { %>


                    <li class="list-group-item d-flex justify-content-between align-items-center mt-15">
                      <span>
                        <strong>Extra <span class="text-danger"><%= productCategory.categoryOfferPercentage %>%</span> Discount</strong> on
                        <a href="/user_shop_page?categoryName=<%= products.category %>" class="text-primary text-decoration-none"><em><%= products.category %></em></a> products!
                      </span>
                      <i class="bi bi-tags-fill text-success"></i>
                    </li>




                    <% } %>

                  </ul>
                </div>
                <!-- Detail Info -->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-10 m-auto entry-main-content">
                <h2 class="section-title style-1 mb-30">Description</h2>
                <div class="description mb-50">

                  <% const sentences = products.description.split('.'); %>
                  <% for (let i = 0; i < sentences.length; i += 2) { %>
                  <p>
                    <%= sentences.slice(i, i + 2).join('.') + '.' %>
                  </p>
                  <% } %>


                  <ul class="product-more-infor mt-30">
                    <li><span>Model</span>
                      <%= products.model %>
                    </li>
                    <li><span>Brand</span>
                      <%= products.brand %>
                    </li>

                    <li><span>Scale</span>
                      <%= products.scale %>
                    </li>
                    <li><span>Material</span> Metal, Plastic</li>
                    <li><span>Color</span>
                      <%= products.colour %>
                    </li>
                    <li><span>Quantity Per Case</span> 1</li>
                    <li><span>Type Of Packing</span> Carton</li>

                  </ul>
                  <hr class="wp-block-separator is-style-dots">

                  <p>Discover a perfect blend of quality, functionality, and design with this exceptional product. Crafted with precision and attention to detail, it meets the highest standards to deliver an unparalleled user experience.</p>
                  <p>Experience the convenience and versatility of a product made to enhance your lifestyle. Ideal for personal use or as a thoughtful gift, it promises satisfaction and reliability. Invest in quality and enjoy the difference!</p>


                </div>
                <h3 class="section-title style-1 mb-30">Additional info</h3>
                <table class="font-md mb-30">
                  <tbody>

                    <tr class="frame">
                      <th>Material</th>
                      <td>
                        <p>Metal, Plastic</p>
                      </td>
                    </tr>
                    <tr class="dimensions">
                      <th>Dimensions</th>
                      <td>
                        <p>24″ (Width) x 12″ (Height)</p>
                      </td>
                    </tr>
                    <tr class="features">
                      <th>Special Features</th>
                      <td>
                        <p>Realistic detailing, functional wheels, and authentic branding.</p>
                      </td>
                    </tr>
                    <tr class="width">
                      <th>Width</th>
                      <td>
                        <p>24″</p>
                      </td>
                    </tr>
                    <tr class="pa_color">
                      <th>Color</th>
                      <td>
                        <p>
                          <%= products.colour %>
                        </p>
                      </td>
                    </tr>
                    <tr class="pa_size">
                      <th>Scale</th>
                      <td>
                        <p>
                          <%= products.scale %>
                        </p>
                      </td>
                    </tr>
                    <tr class="weight-wo-wheels">
                      <th>Net Weight </th>
                      <td>
                        <p>750 g </p>
                      </td>
                    </tr>
                    <tr class="stand-up">
                      <th>Box Size</th>
                      <td>
                        <p>35″L x 24″W x 37-45″H</p>
                      </td>
                    </tr>

                  </tbody>
                </table>

                <div class="description mb-50">
                  <h4 class="mt-30">Packaging & Delivery</h4>
                  <hr class="wp-block-separator is-style-wide">
                  <p>We take great care in packaging to ensure your products arrive safely and in pristine condition. Our eco-friendly and durable packaging materials are designed to protect your items during transit while minimizing environmental impact.</p>
                  <p>Delivery is prompt and reliable, with multiple shipping options tailored to your needs. Depending on your location, you can expect your order to arrive within 3–7 business days. Tracking details will be provided as soon as your package is dispatched, allowing you to monitor its progress every step of the way.</p>
                  <p>If you have special packaging requirements or need expedited delivery, feel free to contact our customer service team. We are here to ensure your experience is seamless and satisfying.</p>
                </div>



              </div>
            </div>



            <div class="row mt-60">
              <div class="col-12">
                <h3 class="section-title style-1 mb-30">Related products</h3>
              </div>

              <div class="col-12">
                <div class="row related-products">
                  <div class="carausel-4-columns-cover arrow-center position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow" id="carausel-4-columns-arrows"></div>
                    <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns">

                      <% if (relatedProducts.length> 0) {
                    for (let i = 0; i < 8; i++) { %>
                      <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                        <div class="product-cart-wrap small hover-up">
                          <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                              <% if (relatedProducts[i].productImages && relatedProducts[i].productImages.length> 0) { %>
                              <a href="user_product_page?id=<%= relatedProducts[i]._id %>">
                                <img class="default-img" src="/<%= relatedProducts[i].productImages[0] %>" alt="">
                                <img class="hover-img" src="/<%= relatedProducts[i].productImages[1] %>" alt="">
                              </a>
                              <% } else { %>
                              No Image
                              <% } %>
                            </div>
                          </div>
                          <div class="product-content-wrap">
                            <h2><a href="user_product_page?id=<%= relatedProducts[i]._id %>" tabindex="0"><%= relatedProducts[i].productName %></a></h2>
                            <div>
                              <span>
                                <a href="/user_shop_page?categoryName=<%= relatedProducts[i].category %>">
                                  <%= relatedProducts[i].category %>
                                </a>
                              </span>
                            </div>
                            <div class="product-price">
                              <span>₹<%= relatedProducts[i].salesPrice %></span>
                              <span class="old-price">₹<%= relatedProducts[i].regularPrice %></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% } }  else { %>
                      <tr>
                        <td colspan="5">Products data not found</td>
                      </tr>
                      <% } %>

                    </div>
                  </div>

                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>
</main>


<%- include("../layouts/user_layouts/user_footer.ejs") -%>